div {
  padding: 0px;
  margin: 0px;
}


.playerContainer {
  display: flex;
  height: 100vh;
  flex-wrap:  wrap;
}

.desktop {
  flex-basis: calc(50% - 20px);
  border:  1px solid black;
  margin: 5px 5px;
}

.desktop button {
  margin: 0;
}

.desktop button {
  font-size: 200%;
}

.mobile {
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}


.desktop input {
  width: 16%;
  text-align: center;
  justify-content: center;
}
  
.bigText {
  font-size: 400%;
  margin: 0px;
  padding: 0px;
}

.medText {
  font-size: 200%;
}

.player0 {
    background-color: blue;
    color: white;
}
.player1 {
    background-color: red;
    color: white;
}

.player2 {
  background-color: purple;
  color: white;
}

.player3 {
  background-color: green;
  color: white;
}

.cmder {
  margin: 0px;
  padding: 0px;
  font-size: 400%;
}

.mobile .cmder {
  margin: 0px;
  padding: 0px;
  font-size: 200%;
}

.configurationContainer {
  display: flex;
}

.configurationContainer div {
  flex: 1;
  padding: 10px;
}

.lifeCounter {
  margin: 0px;
  padding: 0px;
}

.lifeCounter li {
  padding: 0px;
  margin: 0px;
}

* li {
  list-style: none;
}


.row1 {
  display: flex;
}

.row1 > div {
  flex: 1;
}


.row3 {
  display: flex;
}

.row3 > div {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.newgame label{
  font-size: 200%;
}

.newgame input {
  font-size: 200%;
}

.newgame button {
  font-size: 400%;
}

.nohelp {
  margin: 0px;
  padding: 0px;
}

.playerLife > * {
  padding: 10px;
  margin: 5px;
}